on:
  push:
    paths:
      - "src/**/*"
      - "package.json"

name: build

jobs:

  build:
    name: Build from source
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: Adzz/jest_test_action@v1.0.0
        with:
          command: install
      - uses: Adzz/jest_test_action@v1.0.0
        with:
          command: build:check

